<template>
  <div class="mt-7">
    <v-row>
      <v-col cols="12" md="6" xs="12">
        <h3 class="mb-5 font-weight-light">
          Registro de encuestas
        </h3>
      </v-col>
    </v-row>
    <v-data-table
      v-if="data && data.length > 0"
      :headers="headers"
      :items="data"
      item-key="usuId"
      class="elevation-1"
    >
      <template v-slot:[`item.name`]="{ item }">
        {{ item.names + ' ' + item.surnames }}
      </template>
      <template v-slot:[`item.encuesta.encFecha`]="{ item }">
        <v-chip
          v-if="item.encuesta.encFecha"
          color="green"
          dark
        >
          {{ getDate(item.encuesta.encFecha) }}
        </v-chip>
        <span v-else>No se registró una fecha </span>
      </template>
      <!-- <template v-slot:[`item.options`]="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              class="ma-2"
              icon
              x-small
              color="primary"
              v-on="on"
              @click="showDelete(item.usuNombre)"
            >
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>Eliminar encuesta</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              class="ma-2"
              icon
              color="primary"
              x-small
              v-on="on"
              @click="shoeSendEmail(item.names, item.surnames, item._id)"
            >
              <v-icon>mdi-email-multiple-outline</v-icon>
            </v-btn>
          </template>
          <span>Enviar resultado por correo</span>
        </v-tooltip>
      </template> -->
    </v-data-table>
    <div v-else class="text-center mt-5">
      <p> Todavia no se a registrado <strong>ninguna</strong> encuesta.</p>
    </div>
    <get-report v-if="showReport" @close="showReport=false" />
    <v-dialog
      v-model="dialogDelete"
      max-width="420"
    >
      <v-card>
        <v-card-text class="pt-7">
          <h2 class="mb-5">
            Está seguo de eliminar a <strong>{{ auxNames }}</strong> ?
          </h2>
          Si elimina a este usuario se perdera sus datos guardados
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="dialogDelete = false"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="deleted"
          >
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Send v-if="showEmail" :data="dataEmail" @closes="showEmail = false" />
    <show-errors v-if="dialogErrs" :invoice="invoice" @close="dialogErrs = false" />
  </div>
</template>

<script>
import Send from '@/components/administrator/sendEmail'
import Mixin from '~/assets/mixin-index'
import GetReport from '~/components/administrator/Report'
import ShowErrors from '~/components/administrator/ShowErrors.vue'

export default {
  layout: 'administrator',
  components: {
    GetReport,
    Send,
    ShowErrors,
  },
  mixins: [Mixin],
  data () {
    return {
      idRebilling: '',
      showEmail: false,
      dataEmail: {},
      pageCount: 0,
      dialogRebilling: false,
      endpoint: '/api2/usuarios',
      expanded: [],
      singleExpand: false,
      headers: [
        { text: 'N°', value: 'usuId', align: 'center' },
        {
          text: 'Nombre',
          value: 'usuNombre',
        },
        { text: 'Correo electrónico', value: 'usuEmail' },
        { text: 'Fecha', value: 'encuesta.encFecha' },
        { text: 'Universidad', value: 'universidad.uniNombre' },
        { text: 'Estado', value: 'encuesta.encEstado' },
        /*
        { text: 'Opciones', value: 'options' }, */
      ],
      items: [],
      showReport: false,
      auxNames: '',
      dialogDelete: false,
      idDelete: '',
      errors: [],
      dialogErrs: false,
      invoice: '',
      options: {},
    }
  },
  mounted () {
    // this.getOptions()
  },
  methods: {
    showType (value) {
      let obj
      if (value.typeCourse === '01') {
        obj = this.options.typesRegister.find(item => item.id === value.typeRegister)
        if (obj && obj.description) {
          return obj.description
        }
      } else {
        obj = this.options.typesModules.find(item => item.id === value.typeRegister)
        if (obj && obj.description) {
          return obj.description
        }
      }
      return 'Sin tipo'
    },
    async getOptions () {
      try {
        this.options = await this.$axios.$get('/api2/clients/get-options')
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
    shoeSendEmail (names, surnames, id) {
      this.dataEmail.name = `${names} ${surnames}`
      this.dataEmail.client = id
      this.showEmail = true
    },
    showDelete (names, id) {
      this.dialogDelete = true
      this.auxNames = `${names}`
      this.idDelete = id
    },
    showRebilling (names, surnames, id) {
      this.dialogRebilling = true
      this.auxNames = `${names} ${surnames}`
      this.idRebilling = id
    },
    showErrs (value) {
      this.dialogErrs = true
      this.invoice = {
        id: value.billing ? value.billing.number : 'No existe una factura asociada',
        errs: value.errs,
      }
    },
    async rebilling () {
      try {
        await this.$axios.$post('/api2/clients/rebilling', { _id: this.idRebilling })
        this.$message.showSnackbar({
          content: 'Solicitud refacturada con exito',
          color: 'success',
        })
        this.dialogRebilling = false
        this.init()
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
    async deleted () {
      try {
        await this.$axios.$post(`/api2/clients/false-delete/${this.idDelete}`)
        this.$message.showSnackbar({
          content: 'Solicitud eliminada con exito',
          color: 'success',
        })
        this.dialogDelete = false
        this.init()
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
  },
  head: {
    title: 'Clientes - Administrador',
  },
}
</script>
