<template>
  <v-container>
    <h2 class="text-center mb-5 mt-5">
      Grafico de radar
    </h2>
    <VueApexCharts type="radar" :height="!$vuetify.breakpoint.xs ? 800 : 300" :options="chartOptions" :series="series" />
  </v-container>
</template>
<script>
export default {
  layout: 'administrator',
  data: () => ({
    stats: {},
    series: [{
      name: 'Series 1',
      data: [],
    }],
    chartOptions: {
      chart: {
        type: 'radar',
      },
      dataLabels: {
        enabled: true,
      },
      plotOptions: {
        radar: {
          polygons: {
            strokeColors: '#e9e9e9',
            fill: {
              colors: ['#f8f8f8', '#fff'],
            },
          },
        },
      },
      title: {
        text: 'Resumen del proceso del diseño de servicios',
      },
      colors: ['#FF4560'],
      markers: {
        size: 4,
        colors: ['#fff'],
        strokeColor: '#FF4560',
        strokeWidth: 2,
      },
      tooltip: {
        y: {
          formatter (val) {
            return val
          },
        },
      },
      xaxis: {
        categories: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28'],
      },
      yaxis: {
        tickAmount: 7,
        labels: {
          formatter (val, i) {
            if (i % 2 === 0) {
              return val
            } else {
              return ''
            }
          },
        },
      },
    },
  }),
  async mounted () {
    for (let index = 0; index < 28; index++) {
      const number = Math.random() * (4.60 - 3)
      this.series[0].data.push((number + 3).toFixed(2))
    }
    try {
      this.stats = await this.$axios.$get('/api2/encuestas')
    } catch (err) {
      const message = err.response ? err.response.data.message : err.message
      this.$message.showSnackbar({
        content: message,
        color: 'error',
      })
    }
  },
  head: {
    title: 'Inicio - Administrador',
  },
}
</script>
