<template>
  <v-container>
    <v-row align="center" justify="center" style="min-height: 600px">
      <v-col align="center" md="6">
        <v-card color="grey lighten-4" height="300px">
          <v-list-item three-line>
            <v-list-item-content class="mt-7">
              <h3 class="text-center mb-4">
                TOTAL DE ENCUESTAS LLENADAS
              </h3>
              <v-list-item-title class="mb-1">
                Registro
              </v-list-item-title>
              <v-list-item-subtitle>Total hasta la actualidad</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-card-text>
            <div class="text-center mb-12">
              <p class="text-h2">
                {{ stats.length || 0 }}
              </p>
              <p class="text-h5 mt-5">
                Registrados
              </p>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  layout: 'administrator',
  data: () => ({
    stats: {},
  }),
  async mounted () {
    try {
      this.stats = await this.$axios.$get('/api2/encuestas')
    } catch (err) {
      const message = err.response ? err.response.data.message : err.message
      this.$message.showSnackbar({
        content: message,
        color: 'error',
      })
    }
  },
  head: {
    title: 'Inicio - Administrador',
  },
}
</script>
