<template>
  <div>
    <v-container>
      <v-row style="height: 100vh" justify="center" align="center">
        <v-col cols="12" md="6" align="center">
          <Login />
        </v-col>
        <v-col v-if="!$vuetify.breakpoint.xs" cols="12" md="6" align="end">
          <img src="https://seotecuador.com/wp-content/uploads/Arbol-SEOT-100x100.png">
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Login from '@/components/administrator/Login'
export default {
  name: 'SignUp',
  layout: 'login',
  components: {
    Login,
  },
}
</script>
