<template>
  <div style="max-width: 400px">
    <v-form ref="form" valid lazy-validation @submit.prevent="submit">
      <h2>
        Inicia Sesión
      </h2>

      <v-text-field
        v-model="form.username"
        label="Ingrese su usuario"
        :rules="rules.usernameRules"
        filled
        class="mt-5"
        rounded
        dense
      />

      <v-text-field
        v-model="form.password"
        label="Ingrese su contraseña"
        :type="show1 ? 'text' : 'password'"
        :rules="rules.passwordRules"
        filled
        rounded
        dense
        @click:append="show1 = !show1"
      />

      <v-btn rounded large block color="primary" type="primary">
        INGRESAR
      </v-btn>
    </v-form>
  </div>
</template>
<script>
import { required } from '@/assets/validators'
export default {
  data () {
    return {
      show: false,
      form: {
        password: '',
        username: '',
      },
      rules: {
        usernameRules: [required('Usuario requerido')],
        passwordRules: [
          required('Ingrese su contraseña'),
        ],
      },
      show1: false,
      valid: true,
    }
  },
  methods: {
    submit () {
      try {
        if (this.$refs.form.validate()) {
          if (this.form.username === 'admin' && this.form.password === '12345a') {
            this.$store.commit('session/logIn')
            this.$router.push('/administrator')
          } else {
            this.$message.showSnackbar({
              content: 'Credenciales incorrectas',
              color: 'error',
            })
          }
        }
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
  },
}
</script>
