<template>
  <v-container>
    <v-dialog v-model="show" max-width="520" @click:outside="$emit('close')">
      <v-card
        class="mx-auto pa-4"
        max-width="520"
      >
        <v-card-title>Reporte de registro de clientes</v-card-title>
        <v-card-text>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateRangeText"
                label="Ingrese el rango de fechas para generar su reporte de registros"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              />
            </template>
            <v-date-picker
              v-model="dates"
              no-title
              locale="es-ec"
              range
              :min="minD"
              @input="waiting()"
            />
          </v-menu>
        </v-card-text>
        <v-card-actions>
          <v-row justify="end">
            <v-col cols="12" xs="12" md="3">
              <v-btn color="primary" text @click="$emit('close')">
                Salir
              </v-btn>
            </v-col>
            <v-col cols="12" xs="12" md="4">
              <v-btn
                color="primary"
                :loading="loadingSubmit"
                :disabled="loadingSubmit"
                @click="dowload"
              >
                Descargar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import moment from 'moment'
export default {
  data () {
    return {
      show: true,
      menu: false,
      dates: [],
      aux: 0,
      minD: '',
      loadingSubmit: false,
    }
  },
  computed: {
    dateRangeText () {
      return this.dates.join(' ~ ')
    },
  },
  created () {
    this.datesModify()
  },
  methods: {
    datesModify () {
      const init = moment().format('YYYY-MM-DD')
      const final = moment().subtract(1, 'months').format('YYYY-MM-DD')
      this.dates = [final, init]
    },
    waiting () {
      this.aux++
      if (this.aux === 1) {
        this.minD = this.dates[0]
      } else if (this.aux === 2) {
        this.menu = false
        this.aux = 0
        this.minD = ''
      }
    },
    dowload () {
      if (this.dates.length === 2) {
        const startDate = moment(this.dates[0]).format()
        const endDate = moment(this.dates[1]).format()
        window.open(`/api2/clients/report?startDate=${startDate}&endDate=${endDate}`, '_blank')
      } else {
        this.$message.showSnackbar({
          content: 'Ingrese un rango de fechas válidas',
          color: 'error',
        })
      }
      this.$emit('close')
    },
  },
}
</script>
