<template>
  <div>
    <v-dialog
      v-model="showEmail"
      max-width="700px"
      persistent
      @click:outside="$emit('close')"
    >
      <v-card>
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-list>
              <v-list-item>
                <h4>
                  Envio de encuesta de
                </h4>
              </v-list-item>
              <v-list-item>
                <v-text-field outlined rounded v-model="email" :rules="rules.email" label="Ingrese el correo electrónico para enviar los resultados de la encuesta" />
              </v-list-item>
            </v-list>
          </v-form>
          <v-card-actions class="ma-1">
            <v-row>
              <v-btn
                color="primary"
                text
                @click="closes"
              >
                Cancelar
              </v-btn>
              <v-spacer />
              <v-btn color="primary" rounded :loading="loading" @click="reSendEmail">
                reenviar
              </v-btn>
            </v-row>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { required, email } from 'assets/validators'

export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    valid: false,
    showEmail: true,
    loading: false,
    rules: {
      required: [required()],
      email: [email()],
    },
    email: '',
  }),
  methods: {
    closes () {
      this.$emit('closes')
    },
    async reSendEmail () {
      try {
        this.loading = true
        const data = {
          client: this.data.client,
          email: this.email,
        }
        if (this.$refs.form.validate()) {
          await this.$axios.$post('/api2/clients/re-send', data)
          this.$message.showSnackbar({
            content: 'Correo electrónico reenviado con exito',
            color: 'success',
          })
          this.$emit('closes')
        } else {
          this.$message.showSnackbar({
            content: 'El correo electronico ingresado no es valido',
            color: 'error',
          })
        }
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
