<template>
  <v-container>
    <v-dialog v-model="show" max-width="650" @click:outside="$emit('close')">
      <v-card>
        <v-card-title>
          Listado de errores Factura N° {{ invoice.id }}
        </v-card-title>
        <v-divider class="mb-5" />
        <v-card-text v-for="(item, i) in invoice.errs" :key="i">
          <strong class="red--text text--lighten-1">{{ item.code }}</strong> <br>
          <b>Mensaje:</b> {{ item.message }} <br>
          <b>Fecha:</b> {{ item.date }}
          <v-divider />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
export default {
  props: {
    invoice: { type: Object, required: true },
  },
  data () {
    return {
      show: true,
    }
  },
}
</script>
