<template>
  <v-snackbar v-model="show" class="snack" :color="color" top>
    {{ message }}
  </v-snackbar>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data () {
    return {
      color: '',
      show: false,
      message: '',
    }
  },
  created () {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'snackbar/showSnackbar') {
        this.message = state.snackbar.content
        this.color = state.snackbar.color
        this.show = true
      }
    })
  },
})
</script>

<style scoped>
  .snack {
    z-index: 4000;
  }
</style>
