<template>
  <v-container>
    <h2 class="text-center">
      {{ form.names + ' ' + form.surnames }}
    </h2>
    <v-form ref="form" v-model="valid" lazy-validation>
      <h2 class="mb-5">
        Tipo de registro
      </h2>
      <v-row>
        <v-col cols="12" sm="6">
          <v-select
            v-model="form.typeCourse"
            class="rounded-pill"
            :items="options.typesCourses"
            :rules="rules.required"
            item-text="description"
            item-value="id"
            outlined
            label="Seleccione su tipo de registro"
            @change="form.typeRegister = ''"
          />
        </v-col>
      </v-row>
      <h2 class="mb-5">
        Selección
      </h2>
      <v-row>
        <v-col cols="12" sm="6">
          <v-select
            v-if="form.typeCourse === '01'"
            v-model="form.typeRegister"
            class="rounded-pill"
            :items="options.typesRegister"
            :rules="rules.required"
            item-value="id"
            :item-text="item => item.description +' - '+ '$' + item.price"
            outlined
            label="Seleccione su tipo de persona"
          />
          <v-select
            v-else
            v-model="form.typeRegister"
            class="rounded-pill"
            :items="options.typesModules"
            :rules="rules.required"
            :item-text="item => item.description +' - '+ '$' + item.price"
            item-value="id"
            outlined
            label="Seleccione el modulo de su preferencia"
          />
        </v-col>
      </v-row>
      <v-card-actions>
        <v-spacer />
        <v-btn
          v-if="!showForm"
          class="mx-2"
          fab
          dark
          x-small
          @click="showForm = true"
        >
          <v-icon>
            mdi-eye
          </v-icon>
        </v-btn>
        <v-btn
          v-else
          class="mx-2"
          fab
          dark
          x-small
          color="primary"
          @click="showForm = false"
        >
          <v-icon>
            mdi-eye-off
          </v-icon>
        </v-btn>
      </v-card-actions>
      <h2 class="mb-5">
        Formulario de registro
      </h2>
      <v-row v-show="showForm">
        <v-col cols="12" sm="6">
          <v-select
            v-model="form.typeId"
            class="rounded-pill"
            :items="options.typesIds"
            :rules="rules.required"
            item-text="description"
            item-value="id"
            outlined
            label="Tipo de identificación"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.id"
            rounded
            outlined
            label="Identificacion *"
            :counter="13"
            required
            :rules="rules.typeId"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.names"
            rounded
            outlined
            label="Nombres completos"
            required
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.surnames"
            rounded
            outlined
            label="Apellidos completos"
            required
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.email"
            rounded
            outlined
            label="Correo electrónico"
            required
            type="email"
            :rules="rules.email"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.cellphone"
            rounded
            outlined
            label="Teléfono celular"
            required
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.city"
            rounded
            outlined
            label="Ciudad"
            required
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.address"
            rounded
            outlined
            label="Dirección"
            required
            :rules="rules.required"
          />
        </v-col>
      </v-row>
      <v-divider v-if="form.infoBilling.withSubject" class="mb-6" />
      <v-row v-if="form.infoBilling.withSubject">
        <v-col cols="12" xs="12">
          <span slot="opposite">Datos de facturación</span>
        </v-col>
        <v-col cols="12" sm="6">
          <v-select
            v-model="form.infoBilling.idType"
            class="rounded-pill"
            :items="options.typesIdUpconta"
            :rules="rules.required"
            item-text="description"
            item-value="id"
            outlined
            label="Tipo de identificación"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.id"
            rounded
            outlined
            :counter="13"
            label="Identificación *"
            required
            :rules="rules.typeId"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.name"
            rounded
            outlined
            label="Nombres y apellidos"
            required
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.phone"
            rounded
            outlined
            label="Telefono celular *"
            required
            :rules="rules.required"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.email"
            rounded
            type="email"
            outlined
            label="Correo electrónico *"
            required
            :rules="rules.email"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.optionalEmail"
            type="email"
            rounded
            outlined
            label="Correo electrónico opcional"
            required
            :rules="rules.email"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.city"
            rounded
            outlined
            label="Ciudad *"
            required
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.infoBilling.address"
            rounded
            outlined
            label="Direccion *"
            required
            :rules="rules.required"
          />
        </v-col>
      </v-row>
      <v-divider class="mb-6" />
      <v-row>
        <v-col cols="12" xs="12">
          <span slot="opposite">Tipo de pago</span>
        </v-col>
        <v-col cols="12" xs="12">
          <p>{{ paymentType }}</p>
        </v-col>
      </v-row>
      <v-divider class="mb-6" />
      <div v-if="!reBill">
        <div v-if="form.payment.status !== 4">
          <v-card-actions>
            <span slot="opposite">Documento de pago</span>
            <v-spacer />
            <v-btn
              v-if="!showDoc"
              class="mx-2"
              fab
              dark
              x-small
              @click="showDoc = true"
            >
              <v-icon>
                mdi-eye
              </v-icon>
            </v-btn>
            <v-btn
              v-else
              class="mx-2"
              fab
              dark
              x-small
              color="primary"
              @click="showDoc = false"
            >
              <v-icon>
                mdi-eye-off
              </v-icon>
            </v-btn>
          </v-card-actions>
          <v-row v-show="showDoc">
            <v-col cols="12" xs="12" md="10">
              <v-file-input
                v-model="file"
                placeholder="Remplazar el documento de pago"
                accept="application/pdf, image/jpeg, image/png"
                prepend-icon="mdi-paperclip"
                @change="changePdf"
              >
                <template v-slot:selection="{ text }">
                  <v-chip
                    small
                    label
                    color="primary"
                  >
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
            </v-col>
            <v-col v-if="url != undefined" cols="12" xs="12" align="center">
              <object
                v-if="mime === 'application/pdf'"
                :data="url"
                type="application/pdf"
                width="720"
                height="700"
              />
              <img
                v-else
                :src="url"
                alt="registro-pago"
                width="720"
                height="700"
              >
            </v-col>
          </v-row>
          <v-divider class="mb-6" />
        </div>
        <v-row>
          <v-col cols="12" xs="12">
            <span slot="opposite">Validación del pago</span>
          </v-col>
          <v-col cols="12" xs="12">
            <v-switch
              v-model="status"
              inset
              :disabled="onlyView"
              :label="status ? 'Pago verificado' : ' Verificar pago'"
            />
          </v-col>
        </v-row>
      </div>
      <v-card-actions>
        <v-btn
          text
          color="primary"
          to="/administrator/clients"
        >
          Regresar
        </v-btn>
        <v-spacer />
        <v-btn
          :loading="loadingSubmit"
          :disabled="loadingSubmit"
          color="primary"
          @click="update"
        >
          {{ !reBill ? 'Guardar cambios' : 'Refacturar' }}
        </v-btn>
      </v-card-actions>
    </v-form>
    <v-dialog
      v-model="loadingDoc"
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Cargando informacion del usuario
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { required, email, typeId, onlyNumbers } from 'assets/validators'
import { filetob64, b64toblob } from 'assets/utils'

export default {
  layout: 'administrator',
  data () {
    return {
      showDoc: true,
      onlyView: true,
      showForm: true,
      client: '',
      currentPage: 0,
      paymentType: undefined,
      valid: true,
      pageCount: 0,
      url: undefined,
      file: undefined,
      loadingDoc: false,
      status: false,
      options: {},
      form: {
        id: '',
        names: '',
        surnames: '',
        email: '',
        cellphone: undefined,
        typeRegister: '',
        typeCourse: '',
        typeId: '',
        city: '',
        address: '',
        payment: {
          type: undefined,
          status: undefined,
        },
        infoBilling: {
          withSubject: false,
          id: '',
          name: '',
          idType: '',
          subjectType: '',
          city: '',
          email: '',
          cellphone: '',
          phone: '',
          address: '',
        },
      },
      rules: {
        required: [required()],
        email: [email()],
        typeId: [required(), typeId(), onlyNumbers()],
      },
      showInput: false,
      changeBoolean: false,
      mime: undefined,
      loadingSubmit: false,
      reBill: this.$route.query.reBill === 'true',
    }
  },
  mounted () {
    this.client = this.$route.params.clients
    this.init()
  },
  methods: {
    async init () {
      try {
        this.getOptions()
        if (this.$route.params.clients) {
          this.loadingDoc = true
          const clientEdit = await this.$axios.$get(`/api2/clients/${this.client}`)
          this.onlyView = clientEdit.data.payment.status > 2
          const { typesPayment } = await this.$axios.$get('/api2/admins/get-options')
          this.form = clientEdit.data
          typesPayment.forEach((x) => {
            if (x.id === this.form.payment.type) {
              this.paymentType = x.description
            }
          })
          this.status = clientEdit.data.payment.status !== 2
          if (clientEdit.document && clientEdit.document.b64) {
            this.mime = clientEdit.document.mime
            this.url = URL.createObjectURL(await b64toblob(clientEdit.document.b64))
          }
        }
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      } finally {
        this.loadingDoc = false
      }
    },
    async getOptions () {
      try {
        this.options = await this.$axios.$get('/api2/clients/get-options')
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
    async update () {
      try {
        if (this.$refs.form.validate()) {
          this.loadingSubmit = true
          if (!this.reBill) {
            this.form.payment.status = this.status === true ? 3 : 2
            if (this.form.payment.type === 'deposit' || this.form.payment.type === 'transfer') {
              if (this.changeBoolean) {
                this.form.changeDocument = {
                  type: this.form.payment.type,
                  document: {
                    name: this.file.name,
                    base64: await filetob64(this.file),
                    mime: this.mime,
                  },
                }
                await this.$axios.$put(`/api2/clients/${this.client}`, this.form)
              } else {
                await this.$axios.$put(`/api2/clients/${this.client}`, this.form)
              }
            }
          } else {
            this.form.reBill = true
            await this.$axios.$put(`/api2/clients/${this.client}`, this.form)
          }
          this.loadingSubmit = false
          this.$message.showSnackbar({
            content: 'Se guardo los cambios con éxito',
            color: 'success',
          })
          this.$router.push('/administrator/clients')
        } else {
          this.$message.showSnackbar({
            content: 'Complete correctamente los cambios del formulario',
            color: 'error',
          })
        }
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      } finally {
        this.loadingSubmit = false
      }
    },
    changePdf (document) {
      if (document) {
        if (this.file.type === 'image/jpeg' || this.file.type === 'image/png' || this.file.type === 'application/pdf') {
          this.mime = this.file.type
          this.url = URL.createObjectURL(this.file)
          this.changeBoolean = true
        } else {
          this.changeBoolean = false
          this.file = null
          this.url = undefined
          this.$message.showSnackbar({
            content: 'Ingrese solo documentos pdf, imágenes jpg o png',
            color: 'error',
          })
        }
      } else {
        this.url = undefined
        this.changeBoolean = false
      }
    },
  },
}
</script>
