<template>
  <v-app>
    <div>
      <v-app-bar
        flat
        app
      >
        <v-app-bar-nav-icon v-if="!$vuetify.breakpoint.xs" @click.stop="mini = !mini" />
        <v-app-bar-nav-icon v-else @click="drawer = !drawer" />

        <v-toolbar-title
          class="hidden-sm-and-down font-weight-light"
          v-text="$route.title"
        />
      </v-app-bar>
      <v-navigation-drawer
        v-model="drawer"
        :mini-variant.sync="mini"
        color="#042e69"
        dark
        app
      >
        <v-list-item class="px-1">
          <v-img max-width="30" class="mr-2" src="https://aka-cdn.uce.edu.ec/ares/tmp/SIIU/anuncios/sello_400.png" />
          <v-list-item-title> PROCESO DE DISEÑO</v-list-item-title>
        </v-list-item>
        <v-divider />
        <v-list>
          <v-list-item
            to="/administrator/"
            exact
          >
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Inicio</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            nuxt
            to="/administrator/encuestas"
            exact
          >
            <v-list-item-icon>
              <v-icon>mdi-account-group</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Encuestas</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            nuxt
            to="/administrator/grafico"
            exact
          >
            <v-list-item-icon>
              <v-icon>mdi-chart-box-outline</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Grafico</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Salir</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </div>
    <v-main>
      <div class="mx-10">
        <nuxt />
      </div>
    </v-main>
    <Snackbar />
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar'

export default {
  components: {
    Snackbar,
  },
  data () {
    return {
      mini: true,
      drawer: true,
    }
  },
  methods: {
    async logout () {
      this.$store.commit('session/logOut')
      await this.$router.replace({ path: '/administrator/login' })
    },
  },
}
</script>
<style scoped>
.nuxt-link-active {
  color: red;
}
</style>
