<template>
  <v-app dark>
    <div class="transparent">
      <v-app-bar
        class="header-bar"
        color="#042e69"
        flat
        app
        height="100"
        dark
      >
        <v-app-bar-nav-icon class="d-flex d-sm-none" @click="drawer = !drawer" />
        <!-- <img src="https://statics-diariomedico.uecdn.es/cms/2020-04/iso1.png" width="240px"> -->
        <img src="https://aka-cdn.uce.edu.ec/ares/tmp/SIIU/anuncios/sello_400.png" width="80px">
        <h4 class="ml-5">
          SISTEMA DE GESTION CONTINUIDAD DE NEGOCIO
        </h4>
        <v-spacer />
        <v-toolbar-items class="hidden-xs-only">
          <v-btn href="https://www.isotools.org/" dark text>
            ISO
          </v-btn>
          <v-btn href="https://www.uce.edu.ec/" dark text>
            Contacto
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
    </div>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item href="https://seotecuador.com/">
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item href="https://seotecuador.com/contactenos/">
            <v-list-item-title>Contacto</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-main class="homepage-toolbar">
      <v-stepper app class="fijo rounded-b-xl" color="secondary">
        <v-stepper-header>
          <v-stepper-step
            :complete="$store.state.navigation.current >= 0"
            step="1"
          >
            Datos personales
          </v-stepper-step>

          <v-divider />

          <v-stepper-step
            :complete="$store.state.navigation.current >= 1"
            step="2"
          >
            Encuesta
          </v-stepper-step>

          <v-divider />

          <v-stepper-step :complete="$store.state.navigation.current === 2" step="3">
            Finalizar
          </v-stepper-step>
        </v-stepper-header>
      </v-stepper>
      <v-responsive style="margin-top:90px;" class="white-color mx-auto" max-width="1024">
        <v-container fluid>
          <nuxt />
        </v-container>
      </v-responsive>
    </v-main>
    <v-footer
      app
      dark
      color="secondary"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        <span><a href="/#" target="_blank">Grupo 5  ©</a> UCE 2021 - Seguridad de las TICS</span>
      </v-col>
      <Snackbar />
    </v-footer>
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar'

export default {
  components: {
    Snackbar,
  },
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
  },
}
</script>

<style scoped>
.transparent {
  margin-top: 5px;
}
.homepage-toolbar {
  background-image: url("https://seotecuador.com/wp-content/uploads/lamina-SEOT1-01-min-scaled.jpg");
  background-size: cover;
}
.white-color {
  background-image: url("https://d1csarkz8obe9u.cloudfront.net/posterpreviews/blank-landscape-template-c46374b637e36ef134762358d24a5847_screen.jpg?ts=1561679189");
  background-size: cover;
}
.fijo {
  position:fixed;
  width: 100%;
  z-index: 1;
}
</style>
