<template>
  <v-app>
    <div class="fondo">
      <nuxt />
      <Snackbar />
    </div>
  </v-app>
</template>
<script>
import Snackbar from '../components/Snackbar'
export default {
  components: {
    Snackbar,
  },
}
</script>
<style scoped>
.fondo {
  background-image: url("https://www.ulatina.ac.cr/sites/default/files/2021-01/Que%CC%81-son-las-TIC-y-para-que%CC%81-sirven.jpg");
  background-size: cover;
}
</style>
