<template>
  <v-container>
    <div v-if="$store.state.navigation.current === 0">
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <h2 class="mb-5">
          Formulario de registro
        </h2>
        <v-row>
          <v-col cols="12" sm="6">
            <h3> Nombres completos *</h3>
            <v-text-field
              v-model="formLocal.names"
              class="mt-5"
              rounded
              outlined
              required
              label="Ingrese sus nombres"
              :rules="rules.required"
            />
          </v-col>
          <v-col cols="12" sm="6">
            <h3> Apellidos completos *</h3>
            <v-text-field
              v-model="formLocal.surnames"
              class="mt-5"
              rounded
              outlined
              required
              :rules="rules.required"
              label="Ingrese sus apellidos"
            />
          </v-col>

          <v-col cols="12" sm="6">
            <h3> Correo electrónico *</h3>
            <v-text-field
              v-model="formLocal.email"
              class="mt-5"
              rounded
              outlined
              required
              :rules="rules.email"
              label="Ingrese su correo electrónico"
            />
          </v-col>
          <v-col cols="12" sm="6">
            <h3> Repita su correo electrónico *</h3>
            <v-text-field
              v-model="confirmEmail"
              class="mt-5"
              rounded
              outlined
              :rules="[confirmEmailRule]"
              label="Repita su correo electrónico"
            />
          </v-col>
          <v-col cols="12" sm="6">
            <h3>Busque y seleccione la universidad a la que pertenece *</h3>
            <v-autocomplete
              v-model="universidad.uniId"
              class="mt-5"
              :items="unis"
              item-text="uniNombre"
              item-value="uniId"
              outlined
              :rules="rules.required"
              rounded
              label="Seleccione su respuesta"
            />
          </v-col>
          <v-col cols="12" sm="6">
            <h3> Cargo *</h3>
            <v-text-field
              v-model="formLocal.cargo"
              class="mt-5"
              rounded
              outlined
              required
              :rules="rules.required"
              label="Ingrese su cargo"
            />
          </v-col>
        </v-row>
        <div class="d-flex justify-end">
          <v-btn large rounded color="primary" dark @click="saveClient">
            Continuar
          </v-btn>
        </div>
      </v-form>
    </div>
    <div v-if="$store.state.navigation.current === 1">
      <h2 class="mb-5 text-center">
        PROCESO DE DISEÑO DE SERVICIOS
      </h2>
      <v-form
        ref="form2"
        v-model="validEnc"
        lazy-validation
      >
        <v-row>
          <v-col v-for="(option, index) in options" :key="option.preId" cols="12" md="6" xs="12">
            <h3> {{ index+1 +'. '+option.preDescripcion }}</h3>
            <v-select
              v-model="respuestas[index]"
              class="mt-3"
              :items="resp"
              item-text="description"
              item-value="id"
              outlined
              rounded
              :rules="rules.required"
              label="Seleccione su respuesta"
            />
          </v-col>
        </v-row>
      </v-form>
      <v-card-actions>
        <v-btn color="primary" text @click="$store.commit('navigation/prev')">
          Regresar
        </v-btn>
        <v-spacer />
        <v-btn color="primary" :loading="loading" @click="saveEncuesta">
          Continuar
        </v-btn>
      </v-card-actions>
    </div>
    <div v-if="$store.state.navigation.current === 2">
      <center class="mb-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/2048px-Yes_Check_Circle.svg.png" width="150px">
      </center>
      <p>
        Estimado(a) <strong>{{ `${formLocal.names} ${formLocal.surnames}` }} </strong>
        Usted finalizó correctamente la encuesta para el sistema de gestion de continuidad de negocio. Recuerde que todos los datos ingresados son para uso academico.
      </p>
      <p>Gracias colaborar con nosotros.</p>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { required, email, typeId, onlyNumbers } from '../assets/validators'

export default Vue.extend({
  data: () => ({
    fileDown: null,
    valid: false,
    validEnc: false,
    dialog: false,
    respuestas: [],
    resp: [
      {
        description: 'Desconozco',
        id: 1,
      },
      {
        description: 'Totalmente en desacuerdo',
        id: 2,
      },
      {
        description: 'Desacuerdo',
        id: 3,
      },
      {
        description: 'De acuerdo',
        id: 4,
      },
      {
        description: 'Totalmente de acuerdo',
        id: 5,
      },
    ],
    confirmEmail: '',
    confirmOptEmail: '',
    formLocal: {
      cargo: '',
      email: '',
      id: '',
      names: '',
      surnames: '',
    },
    universidad: {
      uniId: '',
    },
    encuesta: {
      encDescripcion: '',
      encEstado: 'Finalizada',
      encFecha: new Date(),
    },
    idEncuesta: {} as any,
    options: {} as any,
    typePayment: '',
    unis: [] as any,
    loading: false,
    rules: {
      required: [required()],
      email: [email()],
      typeId: [required(), onlyNumbers(), typeId()],
    },
  }),
  computed: {
    confirmEmailRule () {
      return () => (this.formLocal.email === this.confirmEmail) || 'El correo electrónico opcional de confirmación es distinto al ingresado'
    },
  },
  mounted () {
    this.getQuestions()
  },
  methods: {
    async saveEncuesta () {
      if ((this.$refs.form2 as Vue & { validate: () => boolean }).validate()) {
        this.loading = true
        for (const i of this.respuestas) {
          const data = {
            encuesta: {
              encId: this.idEncuesta.encId,
            },
            opcionRespuesta: {
              rspId: i,
            },
          }
          try {
            await this.$axios.$post('/api2/respuestas', data)
          } catch (err) {
            const message = err.response ? err.response.data.message : err.message
            this.$message.showSnackbar({
              content: message,
              color: 'error',
            })
          } finally {
            this.loading = false
          }
        }
        this.$store.commit('navigation/next')
      } else {
        this.$message.showSnackbar({
          content: 'Corrija los datos del formulario para continuar',
          color: 'error',
        })
      }
    },
    async getQuestions () {
      try {
        this.options = await this.$axios.$get('/api2/preguntas')
        this.unis = await this.$axios.$get('/api2/universidades')
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
    async saveClient () {
      try {
        const nameComplete = `${this.formLocal.names} ${this.formLocal.surnames}`
        this.encuesta.encDescripcion = 'Encuesta de ' + nameComplete
        const data = {
          usuCargo: this.formLocal.cargo,
          usuEmail: this.formLocal.email,
          usuNombre: nameComplete,
          universidad: this.universidad,
          encuesta: this.encuesta,
        }
        if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
          const { encuesta } = await this.$axios.$post('/api2/usuarios', data)
          this.idEncuesta = encuesta
          this.$store.commit('navigation/next')
        } else {
          this.$message.showSnackbar({
            content: 'Corrija los datos del formulario para continuar',
            color: 'error',
          })
        }
      } catch (err) {
        const message = err.response ? err.response.data.message : err.message
        this.$message.showSnackbar({
          content: message,
          color: 'error',
        })
      }
    },
    submit () {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        this.$store.commit('navigation/next')
      }
    },

  },
})
</script>

<style scoped>

.mark {
  border-style: dashed;
  padding: 10px;
  border-width: 1px;
  border-color: rgb(119, 119, 119);
  cursor: pointer;
}
.v-text-field--outlined >>> fieldset {
  border-color: rgba(72, 46, 80, 0.986);
}
.code {
  background: #f3f4f8;
  max-width: 700px;
}
.code p{
  color: #030135;
  font-size: 30px;
}
</style>
