<template>
  <div class="container">
    <h1 style="text-align: center">
      Pago con tarjeta de crédito o débito
    </h1>
    <div>
      <h3>
        Indicaciones para realizar tu pago:
      </h3>
      <ol>
        <li value="1">
          Realiza tu pago con la tarjeta de credito de tu preferencia.
        </li>
        <li>
          Una vez registrado correctamente tu pago se enviará a tu correo electrónico ingresado
          una notificación con todos los detalles de tu registro
        </li>
      </ol>
    </div>
    <v-row class="mt-5">
      <v-col>
        <iframe :src="url" style="width: 100%; height: 90vh" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      url: this.$route.query.url,
    }
  },
  mounted () {
    this.$store.commit('navigation/set', 1)
  },
  head () {
    return {
      title: 'Pago',
    }
  },
}
</script>
<style scoped>
.v-text-field--outlined >>> fieldset {
  border-color: rgba(80, 46, 46, 0.986);
}
.container {
  margin: 30px;
  padding: 30px;
}
</style>
